TabMedia/Web References/serviceEMS/serviceEMS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:serviceEMS" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:serviceEMS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:serviceEMS">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <xsd:complexType name="DadosMedicos">
        <xsd:all>
          <xsd:element name="id_medico" type="xsd:int" />
          <xsd:element name="nome_medico" type="xsd:string" />
          <xsd:element name="uf_crm" type="xsd:string" />
          <xsd:element name="crm" type="xsd:int" />
          <xsd:element name="esp" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="DadosMedicosArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:DadosMedicos[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="InfMedicos">
        <xsd:all>
          <xsd:element name="listaDadosMed" type="tns:DadosMedicosArray" />
        </xsd:all>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getCadastroMedicoRequest">
    <wsdl:part name="id" type="xsd:string" />
    <wsdl:part name="representante" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getCadastroMedicoResponse">
    <wsdl:part name="return" type="tns:InfMedicos" />
  </wsdl:message>
  <wsdl:portType name="serviceEMSPortType">
    <wsdl:operation name="getCadastroMedico">
      <wsdl:input message="tns:getCadastroMedicoRequest" />
      <wsdl:output message="tns:getCadastroMedicoResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="serviceEMSBinding" type="tns:serviceEMSPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="getCadastroMedico">
      <soap:operation soapAction="http://200.189.176.212/ems/service/serviceEMS.php/getCadastroMedico" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="serviceEMS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="serviceEMS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="serviceEMS">
    <wsdl:port name="serviceEMSPort" binding="tns:serviceEMSBinding">
      <soap:address location="http://200.189.176.212/ems/service/serviceEMS.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>